{{> navbar }}

<div>
    <form class="signup-form">
        <label for="Name">Username</label>
        <input id="username-signup" type="text" placeholder="Enter Username">
        <p id="error-username"></p>
        <label for="Name">Password</label>
        <input id="password-signup" type="password" placeholder="Password">
        <p id="error-password"></p>
        <button type="submit">Create an account</button>
        <p>Already have an account? <a href="/">Login</a></p>
    </form>
</div>

<script src='https://code.jquery.com/jquery-3.6.4.min.js'
    integrity='sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=' crossorigin='anonymous'></script>
<script src='./js/navbar.js'></script>
<script src='./js/signup.js'></script>